<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <H1 align="center">게시판</H1>
    <h3>글 작성하기</h3>
    <button onclick="saveReq()">글작성</button>
    <h3>글 목록보기</h3>
    <button onclick="listReq()">글목록</button>
    <h3>페이징 목록보기</h3>
    <button onclick="pagingReq()">페이징목록</button>
</body>
<script>
  const saveReq = () => {
    location.href = "/board/save";
  }
  const listReq = () => {
    location.href = "/board/";
  }
  const pagingReq = () => {
    location.href = "/board/paging";
  }
</script>
</html>